
html
    head
        title Cities
    body 
        h1 Cities
        table
            each val in cities 
                tr
                    th= val.id
                    th= val.name
        